/* 
    Document   : style
    Created on : 13-may-2013, 20:15:02
    Author     : AlexHid.es
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'DINRounded';
    src: url('fonts/dinengschriftstd-webfont.eot');
    src: url('fonts/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/dinengschriftstd-webfont.woff') format('woff'),
        url('fonts/dinengschriftstd-webfont.ttf') format('truetype'),
        url('fonts/dinengschriftstd-webfont.svg#DIN1451StdEngschrift') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
}
a:active {
    text-decoration: none;
    color: #000;
}			

body{
    font-family: Verdana;
    margin: 0 auto;
    padding: 0;
    font-size:14px;
    color: #000;
}
img{	border:0px;	}
h1{
    font-size: 48px;
    color: #000;
    font-weight: bolder;
}
h2, h3{
    font-size: 23px;
    color: #000;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 12px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
    font-weight: bold;
    color: #303F46;
}
.noticiasMasLeidas h3{margin: 2px; font-size: 16px; margin-top: 25px;}
.contacto h3{margin: 2px; font-size: 16px; margin-top: 25px;}
#centro{ /*Fondo negro de encabezado*/
    background-color: #000;
    height: 100px
}
#fondoMenu{
    background-color: #F0EEEB;
    height: 40px;
    margin-bottom: 10px;        
}
#footer{
    clear: both;
    background-color: #ECECEC;
    height: 195px
}
#contenedor{
    height: auto;
}
#encabezado{
    height: 65px;
    width: 960px;
    float: left;
    position: relative;
    margin: 0px auto;
    left: 50%;
    margin-left: -480px;
    padding-top: 35px;
}
#contenidoFooter{
    height: 65px;
    width: 960px;
    float: left;
    position: relative;
    margin: 0px auto;
    left: 50%;
    margin-left: -480px;
}
#contenidoPagina{
    margin: 0 auto;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    position: relative;
    float: left;
    clear: both;
}
#imgLogo{
    position: relative;
    float: left;
}
#buscadorForm{
    position: relative;
    float: right;
    top: 28px;
}
.buscador{
    width: 220px;
}
.divFooter{
    width: 181px;
    height: 195px;
    border-right-style: solid;
    border-right-color: #d6d6d6;
    border-right-width: 1px;
    position: relative;
    float: left;
    padding-left: 10px;
}
.divFooter h1{
    color: #2F3146;
    font-size: 12px;

}
.divFooter ul{
    list-style: none;
    padding-left: 0px;
}
#boletin input{
    width: 165px;
}
.divRedes{
    background-color: #333;
    color: #F0EEEB;
    height: 40px;
    clear: both;
}
.divRedesContenido{
    width: 960px;
    float: left;
    position: relative;
    margin: 0px auto;
    left: 50%;
    margin-left: -480px;
    padding-top: 10px;
}
.divRedesContenido span{
    font: 17px/18px DINRounded,sans-serif;
    margin-left: 55px;
    color: #fff;
}
.divRedesContenido a:link,.divRedesContenido a:visited,.divRedesContenido a:hover, .divRedesContenido a:active {
    color: #fff;
    text-decoration: none;
}
.copyright
{
    clear:both;
    position:relative;
    float:left;
    text-align:center;
    font-size:9px;
    width:860px;
    margin:0 auto;
    margin-top: 10px;
    left: 50%;
    margin-left: -450px;
    margin-bottom: 30px;
}
.copyright span{
    margin-left: 44px;
}
/* MENÚ */
.menu  {
    list-style-type: none;
    position: relative;
    float: left;
    margin-top: 0px auto;
    margin-bottom: 10px;
    margin-left: -480px;
    left: 50%;
    padding: 0px;   
    height: 40px;
    width: 960px;
}
.menu ul{
    width: 960px;
    height: 40px;
    margin: 0;
    padding: 0;
}
/* si es necesario, evitamos que Blogger de problemas con los saltos de línea cuando escribimos el HTML */

/* cada item del menu */
.menu ul li {
    background-color: #F0EEEB;
    border-right-color: #fff;
    border-right-width: 2px;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    position: relative;
    border-right-style: solid;
    height: 40px;
    width: auto;
}
.menu li a {
    color: black;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.menu li:first-child{ border-left: none; }
.menu li:last-child{ border-right: none; }

.menu ul li:hover{ 
    background-color: #D8D8D8; 
    color: #000; 
    width: auto;
}
/* son visibes al poner el cursor encima */
.menu ul li:hover > ul li { height: 35px; opacity: 1; backface-visibility: visible; width: auto; display:block;  }

/* cada un ode los items de los submenús */
.menu ul li ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    z-index: 5000;
    clear: both;
    background-color: #F0EEEB;
    margin-top: 3px;
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
.menu ul li ul li a {
    margin: 0;
    padding: 8px;
}
.menu ul li ul{
    width: auto;
}
.menu ul li ul li{
    border-right-style: none;
    border-right-width: 0px;
}

.menuCocina li a{
    width: 130px;
}
.menu ul li ul li ul{
    margin-left: 110px;
}
/*FIN MENU*/
.restoPagina{
    position: relative;
    float: left;
    margin-top: 15px;
    width: 960px;
}

.capaGrande, .capaGrande2{
    width: 490px;
    height: 250px;
    position: relative;
    float: left;
}
.capaPeq, .capaPeq2{
    width: 220px;
    height: 250px;
    margin-left: 15px;
    position: relative;
    float: left;
}
.capaPeq2{
    margin-left: 0px;
    margin-right: 15px;
}
.capaFoto{
    width: 725px;
    height: 250px;
    position: relative;
    float:left;

}
.capaRedes{
    width: 220px;
    height: 250px;
    position: relative;
    margin-left: 15px;
    float:left;
}
.capaRedes a{
    color: #000;
}
.listaFabricantes{
    position: relative;
    float: left;
    width: 960;
    height: auto;
}
.listaFabricantes a{
    color: #000;

}
ul.listadoFabricantes{
    list-style: none;
    float: left;
    font-size: 9px;
    padding: 0;
}
li.listing{
    width: 127px;
    margin-right: 10px;
}
.divCocinas{
    width: 600px;
    position: relative;
    float: left;
}
.divCocinasFotos{
    position: relative;
    float: left;
    width: 300px;
    margin-left: 50px;
}
.divCocinasFotos img{
    margin-bottom: 30px;
}
.divCocinasBano{
    position: relative;
    float: left;
    width: 960px;
    margin-top: 10px;
}
#gallery {                
    width: 960px;
    position: relative;
    float: left;
}
#gallery ul { list-style: none; margin: 0; margin-top: 10px; padding: 0;}
#gallery ul li { display: inline; position: relative; float: left; margin-left: 26px; margin-top: 25px; }
.liSinMargen{ margin-left: 0px !important; }
#gallery ul a:hover img {

}
#gallery ul a:hover {  }
.paginacion{
    position: relative;
    float: left;
    clear: both;
}