/* 
    Document   : style
    Created on : 13-may-2013, 20:15:02
    Author     : AlexHid.es
    Description:HOJA DE ESTILO PARA INTERNET EXPLORER
*/

.capaPeq, .capaPeq2{
    margin-left: 12px;
}
.capaPeq2{
    margin-left: 0px;
    margin-right: 12px;
}
.capaRedes{
    margin-left: 10px;
} 
.menu ul li ul, .menu ul li ul li, .menu ul li ul li a{
    height: 0px;    
    width: 0px;
    opacity: 0;
    overflow: hidden;
    display: none;
}

.menu ul li a:hover > menu ul li ul{
    height: 35px; 
    backface-visibility: visible;
    width: 146px;
    opacity: 1;
    display: block;
    overflow: visible;
}
.menu ul li a:hover > menu ul li ul li{
    height: 35px; 
    backface-visibility: visible;
    width: 146px;
    opacity: 1;
    display: block;
    overflow: visible;    
}
.menu ul li a:hover > menu ul li ul li a{
    overflow: visible;    
    height: 35px; 
    backface-visibility: visible;
    width: 146px;
    opacity: 1;
    display: block;
    
}
